<div class="container mt-5">
    <table class="table table-striped" *ngIf="animales$ | async as animales">
      <thead>
      <tr>
        <th>Nombre</th>
        <th>Tipo</th>
        <th>Cantidad de patas</th>
        <th>Peso promedio</th>
        <th>Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let animal of animales">

        <td>{{ animal.nombre }}</td>
        <td>{{ animal.tipo }}</td>
        <td>{{ animal.cantidadDePatas }}</td>
        <td>{{ animal.pesoPromedio }}</td>
        <td>
          <button class="btn btn-primary" (click)="verDetalles(animal)">Seleccionar</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

